#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator {
  width: 500px;
  height: 700px;
  background-color: rgb(178, 213, 243);
  border-radius: 2%;
  padding: 2.5%;
}

.keys-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  /* Adjust the gap between keys as needed */
  height: 70%;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d54a4a;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.display-screen {
  height: 25%;
  margin-bottom: 5%;
}

.k1,
.k17 {
  grid-column: span 2;
}

.k16 {
  grid-row: span 2;
}

.k2,
.k18,
.k20 {
  display: none;
}

.que {
  height: 40%;
  background-color: blueviolet;
}

.ans {
  height: 60%;
  background-color: blue;
}

.que>p {
  margin: 0;
  font-size: 2rem;
}

.ans>p {
  margin: 0;
  font-size: 4rem;
}

.key:hover {
  background-color: aquamarine;
}