#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator {
  width: 500px;
  height: 700px;
  background-color: #3F454C;
  border-radius: 2%;
  padding: 2.5%;
}
body{
  zoom: 0.8;
}
@font-face {
  font-family: 'digital-clock-font';
  src: url('public\\digital-7\\digital-7.ttf');
}

@font-face {
  font-family: 'orbitron';
  src: url('public\\Orbitron\\static\\Orbitron-Regular.ttf');
}


.keys-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  /* Adjust the gap between keys as needed */
  height: 70%;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #d54a4a; */
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5%;
  font-family: Helvetica;
  color: black;
  background-color: aliceblue;
}

.display-screen {
  height: 25%;
  margin-bottom: 5%;
  background-color: #0A090F;
}

.k1,
.k17 {
  grid-column: span 2;
}

.k16 {
  grid-row: span 2;
}

.k2,
.k18,
.k20 {
  display: none;
}

.que {
  height: 40%;
}

.ans {
  height: 60%;
}

.que,
.ans {
  font-family: 'digital-clock-font';
  text-align: right;
  padding-right: 2%;
  color: red;
}

.que>p {
  margin: 0;
  font-size: 2rem;
}

.ans>p {
  margin: 0;
  font-size: 4rem;
}

.key:hover {
  background-color: aquamarine;
}

#equals {
  background-color: #FFA24E;
}

#add,
#subtract,
#divide,
#multiply,
#clear {
  background-color: #D6DEBA;
}

footer {
  font-family: orbitron;
  font-size: larger;
}